.input {
    display: flex;
    gap: 12px;
    width: 100%;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

h1 {
    padding: unset;
    font-size: 32px !important;
}

.input-full {
    width: 100%;
}

.dialog {
    position: relative;
    max-width: 480px;
    --mdc-outlined-text-field-focus-outline-color: #00b4d8 !important;
}

mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: 0;
    width: calc(100% + 48px);
}

.delete-btn {
    background-color: rgb(227, 47, 47) !important;
    color: white !important;
    &:hover {
        background-color: rgb(255, 0, 0) !important;
    }
   
}

@media(max-width: 430px) {
    
}