<div matDialogContent class="dialog" *ngIf="usersService.singleUser">
    <mat-progress-bar *ngIf="usersService.loading" mode="indeterminate"></mat-progress-bar>
    <div class="headline">
        <h1 mat-dialog-title>Edit User</h1>
        <button class="delete-btn" [disabled]="usersService.loading" mat-raised-button
            (click)="deleteUser()">Delete</button>
    </div>
    <div class="input">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.lastName" matInput>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="input-full">
            <mat-label>E-Mail</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.email" matInput type="email">
        </mat-form-field>
        <mat-form-field class="input-full" appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input [disabled]="usersService.loading" matInput [matDatepicker]="picker"
                [(ngModel)]="usersService.singleUser.birthDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-full" appearance="outline">
            <mat-label>Street + House No.</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.street" matInput>
        </mat-form-field>
        <div class="input">
            <mat-form-field appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.zipCode" matInput
                    type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="usersService.loading" [(ngModel)]="usersService.singleUser.city" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="buttons">
        <button [disabled]="usersService.loading" mat-raised-button (click)="closeDialog()">Cancel</button>
        <button [disabled]="usersService.loading" mat-raised-button (click)="save()">Save</button>
    </div>
</div>