* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}
.container {
  color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(190, 199, 206, 0.5);
}
.container:hover {
  box-shadow: 1px 1px 5px rgba(147, 158, 167, 0.5);
}
h1 {
  color: black;
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
.btn {
  color: #fff;
  background: #00b4d8;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
  border: unset;
  &:hover {
    transform: scale(1.05);
  }
}
.money-img {
  width: 150px;
}
.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url("/assets/icon/arrow.png");
  background-position: right 10px top 50%, 0, 0;
  background-size: 10px auto, 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}
.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate {
  color: black;
  font-size: 14px;
  padding: 0 10px;
}
select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 16px;
  }
}