<div matDialogContent class="dialog">
    <mat-progress-bar *ngIf="usersService.loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add User</h1>
    <div class="input">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.lastName" matInput>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select>
            @for (gender of genders; track gender) {
            <mat-option [value]="gender.value">{{gender.viewValue}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <div>
        <mat-form-field appearance="outline" class="input-full">
            <mat-label>E-Mail</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.email" matInput type="email">
        </mat-form-field>
        <mat-form-field class="input-full" appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.birthDate" matInput
                [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-full" appearance="outline">
            <mat-label>Street + House No.</mat-label>
            <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.street" matInput>
        </mat-form-field>
        <div class="input">
            <mat-form-field appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.zipCode" matInput type="number">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="usersService.loading" [(ngModel)]="usersService.user.city" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="buttons">
        <button [disabled]="usersService.loading" mat-raised-button (click)="closeDialog()">Cancel</button>
        <button [disabled]="usersService.loading" mat-raised-button (click)="addUser()">Add</button>
    </div>
</div>