.input {
    display: flex;
    gap: 12px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: unset;
    font-size: 32px !important;
}

.input-full {
    width: 100%;
}

.dialog {
    position: relative;
    max-width: 480px;
    height: fit-content;
    --mdc-outlined-text-field-focus-outline-color: #00b4d8 !important;
}

mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: 0;
    width: calc(100% + 48px);
}

@media(max-height: 800px) {
    h1 {
        font-size: 24px !important;
    }
}