.input {
    display: flex;
    gap: 12px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding: unset;
    font-size: 32px !important;
}

.input-full {
    width: 100%;
}

.dialog {
    position: relative;
    max-width: 480px;
    overflow: hidden;
}

mat-progress-bar {
    position: absolute;
    left: -24px;
    right: -24px;
    top: 0;
    width: calc(100% + 48px);
}