.chart-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    canvas {
        height: 90% !important;
    }
}

@media(max-width: 660px) {
    .chart-container{
        canvas {
            height: fit-content !important;
        }
    }
    
}