<div *ngIf="!signUpForm" class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline" class="input-full">
            <mat-label>E-Mail</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="getEmail()?.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf="getEmail()?.errors?.['email']">
                Please enter a correct email format
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="getPassword()?.errors?.['required']">
                Password is required
            </mat-error>
        </mat-form-field>
        <div class="button-cont">
            <div class="buttons">
                <a routerLink="/user"><button class="guest-button" mat-raised-button>Guest login</button></a>
                <button mat-raised-button type="submit">Login</button>    
            </div>
            <span>New to our platform? <span class="sign-up" (click)="showSignUpForm()">Sign Up!</span></span>
        </div>
    </form>
</div>
<app-sign-up *ngIf="signUpForm"></app-sign-up>