<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer *ngIf="sidenavOpen"  #drawer class="sidenav" mode="side" [opened]="true" >
        <div class="logo">
            <img src="./assets/img/logo.png" alt="logo">
            <mat-icon *ngIf="icon" class="arrow" (click)="sidenavToggle()" >arrow_back</mat-icon>
        </div>
        <ul class="menu-items">
            <li [class.focused-list]="isOnDashboard" (click)="closeSidenav()" routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
            <li [class.focused-list]="isOnUser" (click)="closeSidenav()" routerLink="/user"><mat-icon>account_circle</mat-icon>User</li>
            <li [class.focused-list]="isOnTools" (click)="closeSidenav()" routerLink="/tools"><mat-icon>home_repair_service</mat-icon>Tools</li>
            <li [class.focused-list]="isOnImprint" (click)="closeSidenav()" routerLink="/imprint"><mat-icon>policy</mat-icon>Imprint</li>
            <li (click)="closeSidenav()" routerLink="/"><mat-icon>logout</mat-icon>Logout</li>
        </ul>
    </mat-drawer>
    <mat-toolbar class="toolbar" *ngIf="!displayNone">
        <mat-toolbar-row>
            <mat-icon *ngIf="!onStartpage" class="menu-icon" (click)="sidenavToggle()">menu</mat-icon>
            <span *ngIf="!onStartpage">SimpleCRM</span>
            <img *ngIf="onStartpage" src="./assets/img/logo-white.png" alt="logo">
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container" *ngIf="!displayNone">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>