<mat-card>
    <div class="Imprint">
        <h1>Imprint</h1>
        <p>Information according to § 5 TMG</p>
        <p>Dschabrail Isaev<br>
            Arbeitergasse 2<br>
            2544 Leobersdorf<br>
        </p>
        <p>Contact:<br>
        E-Mail: <a href='mailto:dschabrail.bjj@gmail.com'>dschabrail.bjj@gmail.com</a><br></p>
        <hr class="break">
        <h1>Data protection</h1>
        <p>The use of my website is usually possible without providing personal data. As far as on my page personal data
            (such as name, address or e-mail addresses) are collected, this is, as far as possible, on a voluntary
            basis. This data will not be disclosed to third parties without your express consent.
            I point out that data transmission over the Internet (eg communication by e-mail) can have security gaps. A
            complete protection of the data against access by third parties is not possible.
            The use of contact information published in the imprint by third parties for sending unsolicited advertising
            and informational materials is hereby rejected. The site operator expressly reserves the right to take legal
            action in the event of unsolicited receipt of advertising information, such as spam emails.


            Website imprint created by impressum-generator.de from the Law firm Hasselbach</p>
        <p>
    </div>
</mat-card>