<section *ngIf="usersService.singleUser">
    <mat-card  class="profil-card">
        <button class="icon" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="editMenu()"><mat-icon>edit</mat-icon>
                <span>Edit</span></button>
        </mat-menu>
        <div class="profil">
            <img class="profil-img" src="./assets/img/profil.png" alt="">
            <div>
                <h1>{{usersService.singleUser.firstName}} {{usersService.singleUser.lastName}}</h1>
                <span>{{usersService.singleUser.email}}</span><br>
                <span>{{usersService.formattedDate}}</span>
            </div>
        </div>
    </mat-card>

    <mat-card class="info">
        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>{{usersService.singleUser.street}}</span> <br>
            <span>{{usersService.singleUser.zipCode}} {{usersService.singleUser.city}}</span>
        </mat-card-content>
    </mat-card>
</section>