.profil-card {
  min-height: 400px;
  background-color: #00b4d8;
  position: relative;
  color: white;
}

.profil-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.profil {
  position: absolute;
  bottom: 32px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.info {
  position: relative;
}

.icon {
  position: absolute;
  right: 16px;
  top: 9px;
}

@media(max-width: 450px) {
  h1 {
    font-size: 22px;
    margin: 0 0 8px;
  }
  .profil-card {
    min-height: 300px;
  }
}
